$white: #ffffff;
$black: #000000;
$color-bg: #363636;
$text: #333;
$main-bg: #fafafa;
$tundora: #4D4D4D;
$mine-shaft: #3E3E3E;
$gallery: #f0f0f0;
// $main-bg: #333;

// other
$transition: .3s ease;

// fonts
$arimo: 'Arimo',
sans-serif