.section-content.design
	.section-content__wrapper
		.section__body.section__col.design__body
			.section__text-content.design__text-content
				h2.h2.section__title.design__title Дизайн, достойный вас
				.section__text
					.wrapper.design-wrapper
						.tabs.design__tabs
							span.tab.btn.btn--grey.design__tab Карбон
								+img('img/design/2','118','118','Карбон','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
							span.tab.btn.btn--grey.design__tab Медь
								+img('img/design/2','118','118','Медь','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
							span.tab.btn.btn--grey.design__tab Сталь
								+img('img/design/2','118','118','Сталь','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
							span.tab.btn.btn--grey.design__tab Олово
								+img('img/design/2','118','118','Олово','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
						.tab_content.design__content
							.tab_item.design__item
								p.design__text
									| Карбон — это углеволокнистая сталь, один из самых совершенных материалов, созданных человечеством. Из него изготавливают гиперкары и детали для авиалайнеров и космических кораблей.
							.tab_item.design__item
								p.design__text
									| Медь — элемент одиннадцатой группы четвёртого периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 29. Простое вещество медь — это пластичный переходный металл золотисто-розового цвета. C давних пор широко используется человеком.
							.tab_item.design__item
								p.design__text
									| Сталь — сплав железа с углеродом, содержащий не менее 45 % железа и в котором содержание углерода находится в диапазоне от 0,02 до 2,14 %, причём содержанию от 0,6 % до 2,14 % соответствует высокоуглеродистая сталь. Если содержание углерода в сплаве превышает 2,14 %, то такой сплав называется чугуном
							.tab_item.design__item
								p.design__text
									| Олово — элемент 14-й группы периодической системы химических элементов, пятого периода, с атомным номером 50. Относится к группе лёгких металлов. При нормальных условиях простое вещество олово — пластичный, ковкий и легкоплавкий блестящий металл серебристо-белого цвета.
					a(href="#", title="Перейти в каталог").btn.btn--white.btn__link.section__link.btn--border.design__link Перейти в каталог
						+icon('arrow-right', 'section__icon')
		.section__img.section__col.design__img
			+img('img/design/1','945','585','Дизайн, достойный вас','data:image/gif;base64,R0lGODlhFQARAIAAAP///wAAACH5BAEAAAEALAAAAAAVABEAAAIRjI+py+0Po5y02ouz3rx7VQAAOw==')