.section-content.assembly
	.section-content__wrapper
		.section__img.section__col.assembly__img
			+img('img/assembly/1','945','585','Ручная сборка','data:image/gif;base64,R0lGODlhFQANAIAAAP///wAAACH5BAEAAAEALAAAAAAVAA0AAAIOjI+py+0Po5y02ouzxgUAOw==')
		.section__body.section__col.assembly__body
			.section__text-content.assembly__text-content
				h2.h2.section__title.assembly__title Ручная сборка,
				.section__subtitle.assembly__subtitle отличный сервис
				.section__text.assembly__text
					p
						| Composite DNA — это еще и внимание к клиенту на каждом этапе. Мы отказались от полностью конвейерной сборки, потому что не все материалы можно объединить на конвейере. На конвейере производится только каркас, чтобы снизить издержки. Вкрапление композитных материалов производится вручную. Индивидуальная ручная работа гарантирует лучшее качество — продукт сразу же проверяется мастером.

					p
						| Благодаря полностью оцифрованному сервису кухню доставят и соберут точно в срок. При возникновении сложностей и рекламаций в действие вступает  все тот же оцифрованный сервис по отслеживанию рекламаций.
				a(href="#", title="Заказать проект").btn.btn--black.btn__link.section__link.assembly__link Заказать проект