.swiper-container.my-swiper-container
	a(href="#", title="to back").back
		+icon('back', 'back__icon')
	.price
		span.price__text от
		span.price__money 34 689
		span.price__currency &#8381;

	.swiper-wrapper.my-swiper-wrapper
		.swiper-slide.my-swiper-slide
			.content-slider
				.content-slider__img
					+img('img/slider-card/1','1920','920','Кухня','data:image/gif;base64,R0lGODlhMAAXAIAAAP///wAAACH5BAEAAAEALAAAAAAwABcAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyVgAAOw==')
		.swiper-slide.my-swiper-slide
			.content-slider
				.content-slider__img
					+img('img/home/1','1920','920','Кухня','data:image/gif;base64,R0lGODlhMAAXAIAAAP///wAAACH5BAEAAAEALAAAAAAwABcAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyVgAAOw==')
		.swiper-slide.my-swiper-slide
			.content-slider
				.content-slider__img
					+img('img/slider-card/1','1920','920','Кухня','data:image/gif;base64,R0lGODlhMAAXAIAAAP///wAAACH5BAEAAAEALAAAAAAwABcAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyVgAAOw==')
		.swiper-slide.my-swiper-slide
			.content-slider
				.content-slider__img
					+img('img/home/1','1920','920','Кухня','data:image/gif;base64,R0lGODlhMAAXAIAAAP///wAAACH5BAEAAAEALAAAAAAwABcAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyVgAAOw==')
	.swiper-pagination.my-swiper-pagination