.section__content.hero
	.section__bg
		+img('img/home/1','1200','750','Элитные кухни','data:image/gif;base64,R0lGODlhLAAVAIAAAP///wAAACH5BAEAAAEALAAAAAAsABUAAAIdjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrZuVgAAOw==')
	.section__body.hero__body
		.section__text-content.hero__text-content
			h2.h2.section__title.hero__title Элитные кухни
			.section__subtitle.hero__subtitle из композитных материалов
			.section__text.hero__text
				p
					| Дополните облик своей кухни и сделайте ее по-настоящему уникальной на уровне материалов. Composite DNA создает кухни с применением карбона, стали, меди и других металлов и сплавов.
			a(href="#", title="Смотреть все").btn.btn--white.btn__link.section__link Смотреть все
				+icon('arrow-right', 'section__icon')
		include ../../../blocks/components/scroll-down/scroll-down.pug