<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
	body
		.container(style={padding: '60px', })
			ul
				li
					a(href="index.html", title="title" style={color: '#333'}) Главная
				li
					a(href="catalog.html", title="title" style={color: '#333'}) Каталог решений
				li
					a(href="delivery-payment.html", title="title" style={color: '#333'}) Доставка и сборка
				li
					a(href="contacts.html", title="title" style={color: '#333'}) Контакты
				li
					a(href="product-card.html", title="title" style={color: '#333'}) Карточка продукта