if page == 'page-contacts'
	a(href="/", title="COMPOSITE DNA").logo
		img( alt='Лого сайта', src='img/logo/logo2.png', height='48', width='165')
else
	a(href="/", title="COMPOSITE DNA").logo
		img( alt='Лого сайта', src='img/logo/logo.png', height='48', width='165')