nav.nav
	ul.nav__list
		li.nav__item
			a(href="#", title="Главная").nav__link Главная
		li.nav__item
			a(href="#", title="Каталог Решений").nav__link Каталог Решений
		li.nav__item
			a(href="#", title="Доставка и сборка").nav__link Доставка и сборка
		li.nav__item
			a(href="#", title="Контакты").nav__link Контакты