nav.nav
	ul.nav__list
		li.nav__item
			a(href="index.html", title="Главная").nav__link Главная
		li.nav__item
			a(href="catalog.html", title="Каталог Решений").nav__link Каталог Решений
		li.nav__item
			a(href="delivery-payment.html", title="Доставка и сборка").nav__link Доставка и сборка
		li.nav__item
			a(href="contacts.html", title="Контакты").nav__link Контакты