.card-content
	#description.description
		.description__title Лофт Легно
		.description__text
			| Фасады из эмали, ДСП или пластика есть у многих производителей. Но мы занимаемся тем, что пока не делает никто другой: кухнями с применением высококлассных композитных материалов. Вы получаете кухню, которую не может произвести по доступной цене ни одна фабрика в России. Дорогостоящие аналоги есть только у итальянских и немецких производителей.
	#kitchen-form.kitchen-form
		.wrapper.kitchen-form__wrapper
			.kitchen-form__title Форма кухни
			.tabs.kitchen-form__tabs
				span.tab.kitchen-form__tab(data-material="material-1", data-color="color-1")
					img.lazy( alt='Прямая', src='data:image/gif;base64,R0lGODlhBQADAIAAAP///wAAACH5BAEAAAEALAAAAAAFAAMAAAIDjI9ZADs=', data-src=`img/kitchen-form/2.png`, height='105', width='175')
					span.kitchen-form__tab-title Прямая
				span.tab.kitchen-form__tab(data-material="material-2", data-color="color-2")
					img.lazy( alt='Угловая', src='data:image/gif;base64,R0lGODlhBQADAIAAAP///wAAACH5BAEAAAEALAAAAAAFAAMAAAIDjI9ZADs=', data-src=`img/kitchen-form/1.png`, height='105', width='175')
					span.kitchen-form__tab-title Угловая
				span.tab.kitchen-form__tab(data-material="material-3", data-color="color-3")
					img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhBQADAIAAAP///wAAACH5BAEAAAEALAAAAAAFAAMAAAIDjI9ZADs=', data-src=`img/kitchen-form/2.png`, height='105', width='175')
					span.kitchen-form__tab-title П-Образная
			.tab_content.kitchen-form__content
				.tab_item.kitchen-form__item
					.material.material-1
						.material__title Материал
						.material__list
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/1.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/2.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/3.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/4.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/5.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/6.png`, height='170', width='170')
								span.material__block сталь
					.color.color-1
						.color__title Цвет Корпуса
						.color__list
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/1.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/2.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/3.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/4.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/5.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/6.png`, height='170', width='170')
								span.color__block Оливковый
				.tab_item.kitchen-form__item
					.material.material-2
						.material__title Материал
						.material__list
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/1.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/2.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/3.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/4.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/5.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/6.png`, height='170', width='170')
								span.material__block сталь
					.color.color-2
						.color__title Цвет Корпуса
						.color__list
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/1.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/2.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/3.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/4.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/5.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/6.png`, height='170', width='170')
								span.color__block Оливковый
				.tab_item.kitchen-form__item
					.material.material-3
						.material__title Материал
						.material__list
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/1.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/2.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/3.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/4.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/5.png`, height='170', width='170')
								span.material__block сталь
							.material__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/material/6.png`, height='170', width='170')
								span.material__block сталь
					.color.color-3
						.color__title Цвет Корпуса
						.color__list
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/1.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/2.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/3.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/4.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/5.png`, height='170', width='170')
								span.color__block Оливковый
							.color__item
								img.lazy( alt='П-Образная', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==', data-src=`img/color/6.png`, height='170', width='170')
								span.color__block Оливковый
		.kitchen-form__btn-wrapper
			button.btn.btn--black.kitchen-form__btn Получить Проект