.popup
	.popup-content
		.card-sidebar__title Свойства
		+icon('close', 'popup-content__icon')
		.options
			ul.options__list
				li.options__item
					span.options__label Форма
					span.options__line
					span.options__title Прямая
				li.options__item
					span.options__label Материал
					span.options__line
					span.options__title Сталь
				li.options__item
					span.options__label Цвет
					span.options__line
					span.options__title Оливковый
				li.options__item
					span.options__label Цена
					span.options__line
					span.options__title 36 839 ₽
		button.btn.btn--black.card-sidebar__btn Получить Проект
.overlay