aside#aside
	.card-sidebar
		.card-sidebar__title Свойства
		ul.card-sidebar__list
			li.card-sidebar__item.active
				a(href=".gallery", title="Галерея").slowly.card-sidebar__link Галерея
			li.card-sidebar__item
				a(href=".description", title="Описание").slowly.card-sidebar__link Описание
			li.card-sidebar__item
				a(href=".kitchen-form", title="форма").slowly.card-sidebar__link Форма
			li.card-sidebar__item
				a(href=".material-1", title="Материал").slowly.card-sidebar__link.card-sidebar__link--material Материал
			li.card-sidebar__item
				a(href=".color-1", title="Цвет").slowly.card-sidebar__link.card-sidebar__link--color Цвет
		.options
			ul.options__list
				li.options__item
					span.options__label Форма
					span.options__line
					span.options__title Прямая
				li.options__item
					span.options__label Материал
					span.options__line
					span.options__title Сталь
				li.options__item
					span.options__label Цвет
					span.options__line
					span.options__title Оливковый
				li.options__item
					span.options__label Цена
					span.options__line
					span.options__title 36 839 ₽
		button.btn.btn--black.card-sidebar__btn Получить Проект
