.section-catalog
	.section-content__wrapper
		.section-catalog__content
			.section-catalog__head
				h2.h2.section-catalog__title Каталог примерных решений
				span.section-catalog__subtitle.between Вы можете ориентироваться на них, когда будете выбирать свой дизайн.
			.section-catalog__body
				.section-catalog__list
					.section-catalog-item.section-catalog__item
						a(href="product-card.html", title="Mostro").section-catalog-item__img
							+img('img/catalog/1','490','300','Mostro','data:image/gif;base64,R0lGODlhMQAeAIAAAP///wAAACH5BAEAAAEALAAAAAAxAB4AAAIljI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jedrAQA7')
						.section-catalog-item__info
							a(href="product-card.html", title="Mostro").section-catalog-item__title Mostro
							.section-catalog-item__text Неполированная сталь + эмаль МДФ
					.section-catalog-item.section-catalog__item
						a(href="product-card.html", title="Stradale").section-catalog-item__img
							+img('img/catalog/2','490','300','Stradale','data:image/gif;base64,R0lGODlhMQAeAIAAAP///wAAACH5BAEAAAEALAAAAAAxAB4AAAIljI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jedrAQA7')
						.section-catalog-item__info
							a(href="product-card.html", title="Stradale").section-catalog-item__title Stradale
							.section-catalog-item__text Сталь + матовая эмаль
					.section-catalog-item.section-catalog__item
						a(href="product-card.html", title="Murcielago").section-catalog-item__img
							+img('img/catalog/3','490','300','Murcielago','data:image/gif;base64,R0lGODlhMQAeAIAAAP///wAAACH5BAEAAAEALAAAAAAxAB4AAAIljI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jedrAQA7')
						.section-catalog-item__info
							a(href="product-card.html", title="Murcielago").section-catalog-item__title Murcielago
							.section-catalog-item__text Карбон + керамика
			a(href="catalog.html", title="Смотреть весь каталог").btn.btn--white.btn__link.section__link.btn--border.section-catalog__link Смотреть весь каталог
						+icon('arrow-right', 'section__icon')