.footer__container
	.copyright.footer__copyrigh Composite DNA, 2019 ©
	.footer__contact
		.footer__phone
			a(href="#", title="Наш номер").footer__phone-link +7 (495) ХХХ-ХХ-ХХ
		.footer__address Москва, ул. Краснопресненская, 4