.section-content.individual
	.section-content__wrapper
		.section__img.section__col
			+img('img/individual/1','945','585','Индивидуальный проект','data:image/gif;base64,R0lGODlhFQANAIAAAP///wAAACH5BAEAAAEALAAAAAAVAA0AAAIOjI+py+0Po5y02ouzxgUAOw==')
		.section__body.section__col.individual__body
			.section__text-content.individual__text-content
				h2.h2.section__title.individual__title Индивидуальный проект
				.section__text.individual__text
					p
						| Composite DNA создает индивидуальные проекты на основе ваших пожеланий. У нас нет типовых проектов: заменяются любые материалы фасада практически в любых комбинациях.

					p
						| Вы получаете выбор даже на уровне одного материала. Мы умеем придавать покрывать его матовым или глянцевым лаком, а также менять цвет химическим травлением.
				a(href="#", title="Заказать проект").btn.btn--black.btn__link.section__link.individual__link Заказать проект