.section-content.produced
	.section-content__wrapper
		.section__body.section__col.produced__body
			.section__text-content.produced__text-content
				h2.h2.section__title.produced__title Произведено в России
				.section__text.produced__text
					p
						| Фасады из эмали, ДСП или пластика есть у многих производителей. Но мы занимаемся тем, что пока не делает никто другой: кухнями с применением высококлассных композитных материалов.

					p 
						| Вы получаете кухню, которую не может произвести по доступной цене ни одна фабрика в России. Дорогостоящие аналоги есть только у итальянских и немецких производителей.
		.section__img.section__col
			+img('img/produced/1','945','585','Элитные кухни','data:image/gif;base64,R0lGODlhFQANAIAAAP///wAAACH5BAEAAAEALAAAAAAVAA0AAAIOjI+py+0Po5y02ouzxgUAOw==')